__pycache__
env
**.egg-info
.idea/

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local